name: Publish to container registries

on:
  release:
    types: [published]
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - src/**
      - Dockerfile
      - pyproject.toml
  pull_request:
    paths:
      - src/**
      - Dockerfile
      - pyproject.toml

jobs:
  docker-hub:
    name: Push multi-arch Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 #v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 #v3.11.1

      - name: Extract tags and labels for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: sparfenyuk/mcp-proxy
          tags: |
            type=sha,format=short,prefix=commit-
            type=ref,event=tag
          labels: |
            org.opencontainers.image.authors=Sergey Parfenyuk
            org.opencontainers.image.source=https://github.com/sparfenyuk/mcp-proxy
            org.opencontainers.image.url=https://github.com/sparfenyuk/mcp-proxy
            org.opencontainers.image.title=mcp-proxy
            org.opencontainers.image.description=Connect to MCP servers that run on SSE transport, or expose stdio servers as an SSE server using the MCP Proxy server.
            org.opencontainers.image.licenses=MIT
            org.opencontainers.image.base.name=docker.io/library/python:3.13-alpine

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: github.event_name != 'pull_request'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Clean Docker cache
        if: github.event_name != 'pull_request'
        run: |
          docker system prune --force

  ghcr-io:
    name: Push multi-arch Docker image to ghcr.io
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 #v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 #v3.11.1

      - name: Extract tags and labels for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/sparfenyuk/mcp-proxy
          tags: |
            type=sha,format=short,prefix=commit-
            type=ref,event=tag
          labels: |
            org.opencontainers.image.authors=Sergey Parfenyuk
            org.opencontainers.image.source=https://github.com/sparfenyuk/mcp-proxy
            org.opencontainers.image.url=https://github.com/sparfenyuk/mcp-proxy
            org.opencontainers.image.title=mcp-proxy
            org.opencontainers.image.description=Connect to MCP servers that run on SSE transport, or expose stdio servers as an SSE server using the MCP Proxy server.
            org.opencontainers.image.licenses=MIT
            org.opencontainers.image.base.name=docker.io/library/python:3.13-alpine

      - name: Log in to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Clean Docker cache
        if: github.event_name != 'pull_request'
        run: |
          docker system prune --force
